# Игнорировать настройки IDE
.idea/

# Кеши Python
__pycache__/
*.py[cod]
*.pyo

# Игнорировать файлы окружения, если используешь
.env
.env.*

# Временные файлы редакторов / ОС
*.log
*.tmp
*.swp
*~
.DS_Store
